[[source]]
url = "https://pypi.python.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.7"

[packages.bvhtoolbox]
path = "."
editable = true
extras = ["dev", "test"]
