### Skeleton ###  
skeleton = template.XSF

### Meshes ###
mesh = plasticman.CMF

### Materials ### 
#0 Body
material = GreyMAT.XRF

### Animations ### 
animation = walk01_converted.XAF
animation = walk01_exported.XAF
